display: flex;
flex-direction: column;
/* главная ось будет идти сверху в низ, поперечная слева направо */
flex-direction: row;
/* главная ось будет идти слева на право? поперечная - снизу вверх */
1) justify-content:
/* определяет как блоки будут выравнены вдоль главной оси */
flex-start:
/*(значение по умолчанию) : блоки прижаты к началу главной оси */
flex-end:
/* блоки прижаты к концу главной оси */
center:
/* блоки располагаются в центре главной оси */
space-between:
/* первый блок располагается в начале главной оси, последний блок – в конце, все остальные блоки равномерно распределены в оставшемся пространстве. */
space-around:
/* все блоки равномерно распределены вдоль главной оси, разделяя все свободное пространство поровну. */
2) align-items:
/* выравнивание по поперечной оси */
flex-start:
/*блоки прижаты к началу поперечной оси */
flex-end:
/*блоки прижаты к концу поперечной оси */
center:
/*блоки располагаются в центре поперечной оси */
baseline:
/*блоки выровнены по их baseline */
stretch
/*(значение по умолчанию) : блоки растянуты, занимая все  доступное место по поперечной оси, при этом все же учитываются min-width/max-width, /*если таковые заданы. */
https: //html5.by/blog/flexbox/

.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

text-align: center;