 .block {
   font-size: 14px;
   line-height: 20px;
 span {
   color: red; // вложенность
 }
 }

 // можно создавать переменную:
 $fz: 100px;

 .block {
   font-size: $fz;
 }

 // оператор and:
 .block {
   color: red;
   &:hover { // тоже самое, что и .block:hover
   color: green;
   }
   p { // .block p - обращаемся ко всем элементам "p"
   }
   >p {
     color: blue; // обращаемся к первому элементу "p", первого уровня
   }
 }

 // подключаем файл:
 @import "style.scss";

 // ШАБЛОНЫ:
 %border {
   font-size: 100px;
   border-bottom: 1px solid #000;
 }

 .block {
   @extend %border; // вставляем шаблон, который уже имеет свойства
 }

 // также, шаблон можно составить таким образом:
 .border {
   font-size: 100px;
   border-bottom: 1px solid #000;
 }

 .block {
   @extend .border;


 // МИКСИНЫ или ПРИМУСИ
 @mixin fontz($f,$c) {
   font-size: $f;
   color: $c;
 }

 .block {
   @include fontz(100px, green); // font-size: 100px; color: green;
 }
  
// МАТЕМАТИЧЕСКИЕ ФОРМУЛЫ
.block {
  width: 300px / 960px * 100%; // получим значением: width: 31.25%;
}
 
// КОММЕНТАРИЙ

// если ставим такой /* */, тогда комментарий будет передан в css 
// если ставим такой //, тогда комментарий НЕ будет передан в css
